
<mat-card>
    <mat-card-content>
        <mat-form-field appearance="fill" class="fullWidth">
            <mat-label>Question</mat-label>
            <input [(ngModel)]="question.text" matInput value="Question" name="question">
        </mat-form-field>
        
        <mat-form-field appearance="fill" class="fullWidth">
            <mat-label>Correct Answer</mat-label>
            <input [(ngModel)]="question.correctAnswer" matInput value="Correct Answer" name="correctAnswer">
        </mat-form-field>

        <mat-form-field appearance="fill" class="fullWidth">
            <mat-label>Wrong Answer 1</mat-label>
            <input [(ngModel)]="question.answer1" matInput value="Wrong Answer 1" name="wrongAnswer1">
        </mat-form-field>
        <mat-form-field appearance="fill" class="fullWidth">
            <mat-label>Wrong Answer 2</mat-label>
            <input [(ngModel)]="question.answer2" matInput value="Wrong Answer 2" name="wrongAnswer2">
        </mat-form-field>
        <mat-form-field appearance="fill" class="fullWidth">
            <mat-label>Wrong Answer 3</mat-label>
            <input [(ngModel)]="question.answer3" matInput value="Wrong Answer 3" name="wrongAnswer3">
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="Post(question)" mat-button>POST</button>
      </mat-card-actions>
</mat-card>